{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block extra_head_tags %}
<meta property="og:title" content="Wood You Warszawa - Kalkulator zabudowy tarasu">
<meta property="og:description" content="Wykonujemy tarasy drewniane lub kompozytowe. Posiadamy szeroką wiedzę techniczną i wieloletnie doświadczenie dzięki czemu świadczymy usługi na najwyższym poziomie. Zapraszamy do kontaktu, doradzimy, zaprojektujemy i zbudujemy. Działamy na terenie Warszawy i okolic">
<meta property="og:image" content="{% static '/img/logo1.png' %}">
<meta property="og:url" content="{% url 'kalkulator' %}">
{% endblock %}
{% block title %}Kalkulator zabudowy tarasu{% endblock %}

{% block content %}

<!-- HOME SECTION -->
<div class="section section-header page-header">
        <div class="parallax filter">
            <div class="image"></div>
            <div class="container align-self-center">
                <div class="row">
                  <div class="col">
                    <div class="text-center text-white">
                        <h1 class="display-4">Kalkulator</h1>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  
<div class="main main-raised">
    <!-- CALCULATE SECTION -->
    <section id="calculate-form" class="py-3">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <div class="home-calculate overlay p-3 shadow">
                    <div class="search">
                        <form action="{% url 'kalkulator' %}" method="POST">
                            {% csrf_token%}
                            <!-- Form Row 1 -->
                            <div class="form-row px-4">
                                <div class="col-md-6 mb-3 text-center">
                                    <i class="fas fa-th-large pt-3"></i> Powierzchnia:
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{form.surface|as_crispy_field}}
                                </div>
                            </div>
                            <!-- Form Row 2 -->
                            <div class="form-row px-4">
                                <div class="col-md-6 mb-3 text-center">
                                    <i class="fas fa-tree pt-3"></i> Rodzaj desek: 
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{form.wood|as_crispy_field}}
                                </div>
                            </div>
                            <!-- Form Row 3 -->
                            <div class="form-row px-4">
                                <div class="col-md-6 mb-3 text-center">
                                    <i class="fas fa-home pt-3"></i> Rodzaj zabudowy: 
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{form.where_to|as_crispy_field}}
                                </div>
                            </div>
                            <!-- submit button -->
                            <button class="btn btn-secondary btn-block mt-4" type="submit">Oblicz</button>
                        </form>
                    </div>
                    </div>
            </div>
            </div>
        </div>
        </section>

        <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

        <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb shadow">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                <i class="fas fa-home text-secondary"></i> Strona główna</a>
            </li>
            <li class="breadcrumb-item active"> Kalkulacja oferty</li>
            </ol>
        </nav>
        </div>
    </section>

    <!-- Calculate info section -->
    {% if request.POST %}
    <section >
    <div class="container">
        <div class="info-box" id="calculate-info">
            <div class="row text-right p-4">
                <div class="col-md-5">
                <i class="fas fa-calculator text-secondary"></i> Kalkulacja dla tarasu:
                </div>
                <div class="col-md-7">
                    {{values.surface}} m<sup>2</sup>, {{values.wood}}, {{values.where_to}}
                </div>
            </div>
        </div>
        <div class="container" id="calculation">
            <table id="calculations-table" class="table table-hover">
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Cena jednostkowa</th>
                    <th>Koszt</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Drewno: {{values.wood}}</td>
                    <td>{{ calculations.wood_price }} zl/m<sup>2</sup></td>
                    <td>{{ calculations.wood_cost }} zl</td>
                </tr>
                <tr>
                    <td>Legary </td>
                    <td>{{ calculations.joist_price }} zl/mb</td>
                    <td>{{ calculations.joist_cost }} zl</td>
                </tr>
                <tr>
                    <td>Wkrety</td>
                    <td>{{ calculations.screws_pice }} zl/op</td>
                    <td>{{ calculations.screws_cost }} zl</td>
                </tr>
                <tr>
                    <td>Olej </td>
                    <td>{{ calculations.oil_price }} zl/szt</td>
                    <td>{{ calculations.oil_cost }} zl</td>
                </tr>
                <tr>
                    <td>Montaz</td>
                    <td class="number">{{ calculations.assembly_price }}  zl/m<sup>2</sup></td>
                    <td>{{ calculations.assembly_cost }} zl</td>
                </tbody>
                <tfoot>
                    <td></td>
                    <td> <strong>Suma:</strong></td>
                    <td class="result">{{ calculations.total_cost }} zl</td>
                </tfoot>
            </table>
        </div>
        <div class="jumbotron text-center py-3" id="disclaimer">
            <p class='h6 text-muted'>Podane ceny są cenami szacunkowymi i nie stanowią oferty handlowej w rozumieniu art 66 par.1 Kodeksu Cywilnego. Aby uzyskać precyzyjną wycenę projektu skontaktuj się z nami.
            </p>
        </div>
    </div>
    </section>

    <section>
    <div class="container pb-3">
        <div class="row">
        <div class="col-md-6 my-1">
            <button class="btn btn-success btn-block"  data-toggle="modal" data-target="#reminderModal"><i class="fa fa-file-pdf"></i>  Pobierz PDF</button>
        </div>
        <div class="col-md-6 my-1">
            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#inquiryModal"><i class="fas fa-envelope"></i> Zapytaj o ofertę</button>
        </div>
        </div>
    </div>
</section>
</div>
<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title display-5 text-center" id="inquiryModalLabel">Prześlij zapytanie o szczegłową ofertę</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %} 
                    {{inquiry_form|crispy}}
                    <hr>
                    <div class="legal">
                        Klikając zamieszczony poniżej przycisk "Wyślij wiadomość" wyrażasz zgodę na przetwarzanie danych osobowych takich jak: adres e-mail, imię, nazwisko oraz numer telefonu przez Global Biznes Spółka z o.o. z siedzibą w Warszawie przy ul. Górczewskiej 53, 01-401 Warszawa, wpisaną do rejestru przedsiębiorców prowadzonego przez Sąd Rejonowy dla m.st. Warszawy w Warszawie, XII Wydział Gospodarczy KRS pod numerem 0000531100, NIP 5272721408, REGON 14743684100000, kontaktowy adres e-mail: info@global-biznes.pl, telefon kontaktowy: +48 603 955 733, w celu udzielenia odpowiedzi na przesłaną za pośrednictwem formularza kontaktowego wiadomość. Szczegółowe zasady przetwarzania danych osobowych przez Global Biznes Sp. z o. o. są zawarte w <a href="https://cdn.global-biznes.pl/assets/files/globalbiznes_polityka_prywatnosci.pdf" target="_blank">Polityce Prywatności</a>.</p>
                    </div>
                    <hr>
                    <input type="submit" value="Wyślij wiadomość" class="btn btn-block btn-secondary">
                </form>
            </div>
        </div>
    </div>
</div>

 <!-- Reminder Modal -->
 <div class="modal fade" id="reminderModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <!-- <h5 class="modal-title display-5 text-center" id="inquiryModalLabel">Pamietaj!</h5> -->
            <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
              <h1 class="display-5 text-center">Możesz również wysłać zapytanie o szczegłowa ofertę!</h1>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="CalculationExportToPDF()"><i class="fa fa-file-pdf" ></i>  Pobierz PDF</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#inquiryModal"><i class="fas fa-envelope"></i> Zapytaj o ofertę</button>
        </div>
      </div>
    </div>
  </div>
    
{% else %}
    <section>
        <div class="container" id="calculate-table">
            <div class="info-box">
                <div class="row text-right py-4 my-5">
                    <div class="col-md-5">
                        <i class="fas fa-9x fa-calculator text-secondary"></i> 
                    </div>
                    <div class="col-md-5">
                        <blockquote class="blockquote">
                            <p class="mb-0">To pojawi się kalkulacja twojego tarasu.</p>
                            <footer class="blockquote-footer"><cite title="Source Title">Wood You</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

</div>
{% endblock %}