{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} | Realizacje{% endblock %}

{% block content %}

  <!-- HOME SECTION -->
  <header id="realizations-header">
    <div class="dark-overlay py-5">
      <div class="container py-3">
        <div class="row">
          <div class="col-lg-8">
            <div class="text-center text-white">
                  <h1><strong>Nasze realizacje</strong></h1>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </header>

  <!-- SEARCH SECTION -->
  <section id="search-form" class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="home-search overlay p-3 shadow">
                  <div class="search">
                    <form action="{% url 'realizacje' %}">
                      <!-- Form Row 1 -->
                      <div class="form-row">     
                        <div class="col-md-6 mb-3">
                          <label class="sr-only">Powierzchnia od:</label>
                          <input type="text" name="area_from" class="form-control" placeholder="Powierzchnia od:">
                        </div>

                        <div class="col-md-6 mb-3">
                          <label class="sr-only">Powierzchnia do:</label>
                          <input type="text" name="area_to" class="form-control" placeholder="Powierzchnia do:">
                        </div>
                      </div>
                      <!-- Form Row 2 -->
                      <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label class="sr-only">Rodzaj drewna</label>
                          <select name="wood_type" class="form-control">
                            <option selected="true" disabled="disabled">Rodzaj drewna</option>
                            <option value="modrzew">Modrzew Syberyjski</option>
                            <option value="bankirai">Bankirai</option>
                            <option value="marbau">Merbau</option>
                            <option value="kompozyt">Deska Kompozytowa</option>
                          </select>
                        </div>
                      </div>
                      <button class="btn btn-secondary btn-block mt-4" type="submit">Wyszukaj</button>
                    </form>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>

     <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb shadow">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home text-secondary"></i> Strona główna</a>
          </li>
          <li class="breadcrumb-item active"> Nasze ralizacje</li>
        </ol>
      </nav>
    </div>
  </section>

   <!-- Realizations -->
   <section id="realizations-listings" class="py-5">
    <div class="container">
      <div class="row">
        {% if realizations %}
          {% for realization in realizations %}
            <div class="col-md-6 col-lg-4 mb-4">
              
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ realization.photo_main.url }}" alt="">
                <a href="{% url 'realizacja' realization.id %}">
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">{{realization.cost | intcomma}} zł</span>
                    </h2>
                  </div>
                </a>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{realization.name}}</h4>
                    <p>
                        <i class="fas fa-map-marker text-secondary"></i> {{realization.location}}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Powierzchnia:
                    </div>
                      <div class="col-6 text-right">{{realization.area}} m<SUP>2</SUP> </div>
                    </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-tree"></i> Rodzaj drewna:
                    </div>
                      <div class="col-12 text-right">{{realization.used_wood}}</div>
                  </div>
                  <hr>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{realization.realization_date}}</div>
                  </div>
                  <hr>
                  <div class="btn btn-secondary btn-block">Więcej informacji</div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {% if realizations.has_other_pages %}
            <ul class="pagination">
              {% if realizations.has_previous %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{realizations.previous_page_number}}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
              {% endif %}

              {% for i in realizations.paginator.page_range %}
                {% if realizations.number == i %}
                    <li class="page-item active">
                        <a class="page-link" >{{i}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                {% endif %}
              {% endfor %}

              {% if realizations.has_next%}
                <li class="page-item ">
                <a class="page-link" href="?page={{realizations.next_page_number}}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}

        </div>
      </div>
    </div>
  </section>

  {% endblock %}
