{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}

<!-- HOME SECTION -->
<header id="materials-header">
    <div class="dark-overlay py-5">
      <div class="container py-3">
          <div class="row">
            <div class="col-lg-8">
              <div class="text-center text-white">
                    <h1><strong>Materiały</strong></h1>
              </div>
            </div>
          </div>
        </div>
    </div>
  </header>

   <!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb shadow">
        <li class="breadcrumb-item">
          <a href="index.html">
            <i class="fas fa-home text-secondary"></i> Strona główna</a>
        </li>
        <li class="breadcrumb-item active"> Materiały</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Items -->
<section class="content-section" id="materials">
  <div class="container">
  
    <div class="content-section-heading">
      <h4 class="p-3 shadow-sm bg-light">Deski Tarasowe</h4>
    </div>
  
    <div class="row">
      <!-- Listing 1 -->
      
        <div class="col-md-4 col-lg-3 mb-4">
          <a href="bankirai.html" >
            <div class="card materials-preview">
              <img class="card-img-top" src="/img/materials/deski/2_1_2_Bangkirai_25x145/deska_tarasowa_BANGKIRAI_25X145_widok_strona1.jpg" alt="">
              <div class="card-img-overlay">
                  <span class="badge badge-secondary text-white">
                      <div class="price">
                        <div class='m-1'>9.52 PLN / mb</div>
                        <div>68.00 PLN / m<sup>2</sup></div>
                      </div>
              </div>
              <div class="card-body">
                <!-- <div class="listing-heading text-center">
                  <span class="text-secondary">Bankirai</span> -->
                <div class="btn btn-secondary btn-block">Bankirai</div>
              </div>
            </div>
          </a>
        </div>

      <!-- Listing 2 --> 
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="bankirai.html" >
          <div class="card materials-preview">
            <img class="card-img-top" src="/img/materials/deski/2_4_1_Modrzew_Syberysjki_24x140/deska_tarasowa_modrzew_syberyjski_24x140_widok_strona1.jpg" alt="">
            <div class="card-img-overlay">
                <span class="badge badge-secondary text-white">
                    <div class="price">
                      <div class='m-1'>11.52 PLN / mb</div>
                      <div>100.00 PLN / m<sup>2</sup></div>
                    </div>
            </div>
            <div class="card-body">
              <!-- <div class="listing-heading text-center">
                <span class="text-secondary">Bankirai</span> -->
              <div class="btn btn-secondary btn-block">Modrzew Syperyski</div>
            </div>
          </div> 
        </a>
      </div>
        
      <!-- Listing 2 --> 
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="bankirai.html" >
          <div class="card materials-preview">
            <img class="card-img-top" src="/img/materials/deski/Merbau/deska_tarasowa_merbau_24x140_widok_strona1.jpg" alt="">
            <div class="card-img-overlay">
                <span class="badge badge-secondary text-white">
                    <div class="price">
                      <div class='m-1'>11.52 PLN / mb</div>
                      <div>100.00 PLN / m<sup>2</sup></div>
                    </div>
            </div>
            <div class="card-body">
              <!-- <div class="listing-heading text-center">
                <span class="text-secondary">Bankirai</span> -->
              <div class="btn btn-secondary btn-block">Merbau</div>
            </div>
          </div> 
        </a>
      </div>

    </div>

    <div class="content-section-heading my-3">
      <h4 class="shadow-sm bg-light p-3 ">Kompozyt</h4>
    </div>

    <div class="row">
        <!-- Listing 1 -->
        
          <div class="col-md-4 col-lg-3 mb-4">
            <a href="bankirai.html" >
              <div class="card materials-preview">
                <img class="card-img-top" src="/img/materials/kompozyt/2_7_Kompozyt_4DECK/2_7_1_deska_tarasowa_braz/deska_tarasowa_kompozytowa_WPC_4DECK_25x140_braz_podloga_2.jpg">
                <div class="card-img-overlay">
                    <span class="badge badge-secondary text-white">
                        <div class="price">
                          <div class='m-1'>9.52 PLN / mb</div>
                          <div>68.00 PLN / m<sup>2</sup></div>
                        </div>
                </div>
                <div class="card-body">
                  <!-- <div class="listing-heading text-center">
                    <span class="text-secondary">Bankirai</span> -->
                  <div class="btn btn-secondary btn-block">4 DECK - Brąz</div>
                </div>
              </div>
            </a>
          </div>

        <!-- Listing 2 --> 
        <div class="col-md-4 col-lg-3 mb-4">
          <a href="bankirai.html" >
            <div class="card materials-preview">
              <img class="card-img-top" src="/img/materials/kompozyt/2_7_Kompozyt_4DECK/2_7_2_deska_tarasowa_ciemny_braz/deska_tarasowa_kompozytowa_WPC_4DECK_25x140_ciemny_braz_podloga_1.jpg" alt="">
              <div class="card-img-overlay">
                  <span class="badge badge-secondary text-white">
                      <div class="price">
                        <div class='m-1'>11.52 PLN / mb</div>
                        <div>100.00 PLN / m<sup>2</sup></div>
                      </div>
              </div>
              <div class="card-body">
                <!-- <div class="listing-heading text-center">
                  <span class="text-secondary">Bankirai</span> -->
                <div class="btn btn-secondary btn-block">4 DECK - Ciemny Brąz</div>
              </div>
            </div> 
          </a>
        </div>
          
        <!-- Listing 3 --> 
        <div class="col-md-4 col-lg-3 mb-4">
          <a href="bankirai.html" >
            <div class="card materials-preview">
              <img class="card-img-top" src="/img/materials/kompozyt/2_7_Kompozyt_4DECK/2_7_3_deska_tarasowa_grafit/deska_tarasowa_kompozytowa_WPC_4DECK_25x140_grafit_antracyt_podłoga_2.jpg" alt="">
              <div class="card-img-overlay">
                  <span class="badge badge-secondary text-white">
                      <div class="price">
                        <div class='m-1'>11.52 PLN / mb</div>
                        <div>100.00 PLN / m<sup>2</sup></div>
                      </div>
              </div>
              <div class="card-body">
                <!-- <div class="listing-heading text-center">
                  <span class="text-secondary">Bankirai</span> -->
                <div class="btn btn-secondary btn-block">4 DECK - Grafit</div>
              </div>
            </div> 
          </a>
        </div>

        <!-- Listing 3 --> 
        <div class="col-md-4 col-lg-3 mb-4">
            <a href="bankirai.html" >
              <div class="card materials-preview">
                <img class="card-img-top" src="/img/materials/kompozyt/2_7_Kompozyt_4DECK/2_7_4_deska_tarasowa_jasnoszary/deska_tarasowa_kompozytowa_WPC_4DECK_25x140_jasny_szary_podłoga_1.jpg" alt="">
                <div class="card-img-overlay">
                    <span class="badge badge-secondary text-white">
                        <div class="price">
                          <div class='m-1'>11.52 PLN / mb</div>
                          <div>100.00 PLN / m<sup>2</sup></div>
                        </div>
                </div>
                <div class="card-body">
                  <!-- <div class="listing-heading text-center">
                    <span class="text-secondary">Bankirai</span> -->
                  <div class="btn btn-secondary btn-block">4 DECK - jasnoszary</div>
                </div>
              </div> 
            </a>
          </div>

      </div>

    <div class="content-section-heading my-3">
        <h4 class="shadow-sm bg-light p-3 mx-2">Legary</h4>
    </div>
    <div class="row">
    <!-- Listing 3 --> 
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="bankirai.html" >
          <div class="card materials-preview">
            <img class="card-img-top" src="/img/materials/legary/3_3_1_Bangkirai_42x70/legar_BANGKIRAI_42x70_widok.jpg" alt="">
            <div class="card-img-overlay">
                <span class="badge badge-secondary text-white">
                    <div class="price">
                      <div class='m-1'>11.52 PLN / mb</div>
                      <div>100.00 PLN / m<sup>2</sup></div>
                    </div>
            </div>
            <div class="card-body">
              <!-- <div class="listing-heading text-center">
                <span class="text-secondary">Bankirai</span> -->
              <div class="btn btn-secondary btn-block">Bankirai</div>
            </div>
          </div> 
        </a>
      </div>

      <!-- Listing 3 --> 
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="bankirai.html" >
          <div class="card materials-preview">
            <img class="card-img-top" src="/img/materials/legary/3_5_3_Modrzew_Syberyjski_45x70/legar_modrzew_syberyjski_45x70_gladki_widok_01.jpg" alt="">
            <div class="card-img-overlay">
                <span class="badge badge-secondary text-white">
                    <div class="price">
                      <div class='m-1'>11.52 PLN / mb</div>
                      <div>100.00 PLN / m<sup>2</sup></div>
                    </div>
            </div>
            <div class="card-body">
              <!-- <div class="listing-heading text-center">
                <span class="text-secondary">Bankirai</span> -->
              <div class="btn btn-secondary btn-block">Modrzew sybeyski</div>
            </div>
          </div> 
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}