html {
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fafafa;
}
@media (min-width: 58em) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 115em) {
  body {
    font-size: 110%;
  }
}
@media (min-width: 125em) {
  body {
    font-size: 115%;
  }
}
@media (min-width: 145em) {
  body {
    font-size: 120%;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    font-feature-settings: normal;
    /* Internet Explorer fix */
  }
}

.display-5 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.content-blog p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Times New Roman", serif;
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,
.content-blog p a {
  font-size: inherit;
  font-family: "Roboto", "Times New Roman", serif;
}

.content-blog {
  padding: 30px 0;
}
.content-blog p {
  font-size: 18px;
  margin-bottom: 30px;
}

h1, .h1 {
  font-size: 3em;
  line-height: 1.213483146em;
}

h2, .h2 {
  font-size: 2.4em;
  line-height: 1.25;
  margin: 0.4em 0;
  /* font-weight: bold; */
}

h3, .h3 {
  font-size: 1.61em;
  line-height: 1.05em;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4, .h4 {
  font-size: 1.3em;
  line-height: 1.714285714em;
}

h5 {
  font-size: 1.2em;
}

p {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
  margin: 0 0 .75em;
}
.card {
  background: #fff;
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 30px;
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

.info-icon {
  text-align: center;
}
.info-icon .icon {
  max-width: 13rem;
  font-size: 62px;
  line-height: 66px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.info-icon .description {
  margin-top: 15px;
  color: #777777;
}
.filter {
  position: relative;
  height: 100%;
}
.filter:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
  content: "";
  opacity: .7;
  background: rgba(0, 0, 0, 0.6);
}
.filter .title-area .description {
  color: #FFFFFF;
}
.filter .separator {
  color: #FFFFFF;
}
.filter .separator:before, .filter .separator:after {
  border-color: #FFFFFF;
}

.main-raised {
  padding-top: 1em;
  margin: -60px 30px 35px;
  border-radius: 6px !important;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.main {
  background: #FFFFFF;
  position: relative;
  z-index: 3;
}
/* p.description {
  font-size: 16px;
  color: #777777;
} */
.social a {
  margin-right: 0.4rem;
  color: #000; }

.section {
  padding: 80px 0;
  position: relative;
  background-color: #FFFFFF;
}

.section .title-area {
  max-width: 760px;
  margin: 0 auto 70px;
  display: block;
  padding: 0 15px;
  text-align: center;
}
.section .title-area .description {
  font-size: 16px;
  color: #777777;
}
.section [class*="col-"] .title-area {
  padding: 0;
}
.section .parallax{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}
.section .image{
  background-image: url(../img/background_section2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  display: block;
}
.section .text-area {
  padding: 4.375em 0;
  position: relative;
  z-index: 3;
  display: block;
}
.section .text-area .description,
.section .text-area .description p {
  font-size: 16px;
  color: #777777;
}
.separator {
  color: #c5a47e;
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}
.separator:before, .separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #c5a47e;
}
.separator:before {
  float: left;
}
.separator:after {
  float: right;
}


.img-thumbnail {
  height: 7em;
  width: 16em;
  position: relative;
  object-fit: cover;
}

.logo {
  max-height: 2.2rem; 
}
.page-header {
  padding: 0;
}
.page-header .parallax{
  height: 35vh;
}
.page-header .image {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 25vh;
  background-position: bottom center;
  z-index: 2;
  position: absolute;
  display: block;
}
.page-header .container{
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 7vh;
}
/* index page */
#home-section{
  padding: 0;
}
#home-section .parallax{
  height: 90vh;
}
#home-section .image {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 25vh;
  background-position: center center;
  z-index: 2;
  position: absolute;
  display: block;}

#home-section .container{
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 12em;
}
#home-section .home-img {
  max-width: 25rem;
  border: solid;
  border-color: white;
}

#ralizations{
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 30vh;
  text-align: center;
}
#realizations .parallax{
  height: auto;
}
#realizations .container{
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 6em;
}
  #realizations .card-img-top {
  height: 17rem; }
  #realizations .card:hover{
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  }
/* materials list */

#materials .materials-preview {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }
  #materials .materials-preview .card-img-top {
    min-height: 14rem; }

/* realizations page */
#realizations-listings{
  position: relative;
  z-index: 100;
  display: block;
}

#realizations-listings .container{
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 2em;
}
#realizations-listings .card-img-top {
  height: 17em; 
}
#realizations-listings .card:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}
#search-form .home-search{
  border: rgba(0, 0, 0, 0.075);
  border-style: outset;  
  border-width: 0.25px;
}
/* realization detail page */
#realization-info {
  min-height: 43rem; }

#used-products .materials-preview {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }
  #used-products .materials-preview .card-img-top {
    min-height: 14em; }

/* calculate page */

#calculate-form .home-calculate {
  border: rgba(0, 0, 0, 0.05);
  border-style: outset;  
  border-width: 0.25px; }
  #calculate-form .home-calculate input::placeholder {
    color: #495057; }
  #calculate-form .home-calculate .form-control {
    text-align-last: center; }

#calculation{
  padding: 2rem;
}
#inquiryModal textarea {
  height: 10rem; }
#inquiryModal .legal {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #666;
  text-align: justify; }

#reminderModal {
  position: fixed;
  top: 25%; }
  
  @media (max-width: 576px) {
    .page-header .container{
      margin-top: 4vh;
    }
  }
  
  @media (max-width: 768px) {
    #realizations h2{
      color: #000 !important;
    }
    #realizations .image{
      background-image: none;
      /* background-color: white; */
    }
    #realizations .filter:before {
      background-color: #FFFFFF;
    }

    #top-bar {
      text-align: center; 
    }
    #top-bar .social {
      text-align: center !important; 
    }   
  }
  
  @media (min-width: 992px) {
   
  }
  
  @media (min-width: 1200px) {
    
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1600px;
    } 
    #realizations-listings .card-img-top {
      height: 21em; 
    }
  }
