.social a {
  margin-right: 0.4rem;
  color: #000; }

.logo {
  max-height: 2.2rem; }

#home-section {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  background-position: bottom; }
  #home-section .dark-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.5); }
    #home-section .dark-overlay .container {
      min-height: inherit; }
      #home-section .dark-overlay .container .row {
        min-height: inherit; }
        #home-section .dark-overlay .container .row .home-img {
          max-width: 250px;
          border: solid;
          border-color: white; }
 
.section {
  padding: 80px 0;
  position: relative;
  background-color: #FFFFFF;
}

.section .title-area {
  max-width: 760px;
  margin: 0 auto 70px;
  display: block;
  padding: 0 15px;
  text-align: center;
}
.section .title-area .description {
  font-size: 16px;
  color: #777777;
}
.section [class*="col-"] .title-area {
  padding: 0;
}
.section .text-area {
  padding: 4.375em 0;
  position: relative;
  z-index: 3;
  display: block;
}
.section .text-area .description,
.section .text-area .description p {
  font-size: 16px;
  color: #777777;
}

.separator {
  color: #c5a47e;
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}
.separator:before, .separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #c5a47e;
}
.separator:before {
  float: left;
}
.separator:after {
  float: right;
}
/* 
.separator-danger {
  color: #e78b90;
}
.separator-danger:before, .separator-danger:after {
  border-color: #e78b90;
} */

p.description {
  font-size: 16px;
  color: #777777;
}

.info-icon {
  text-align: center;
}
.info-icon .icon {
  max-width: 13rem;
  font-size: 62px;
  line-height: 66px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.info-icon .description {
  margin-top: 15px;
  color: #777777;
}

#info .container {
  min-height: 300px; }
#info p {
  text-align: justify; }

.card {
  background: #fff;
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 30px;
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

#realizations .card-img-top {
  height: 17rem; }
  #realizations .card:hover{
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  }

#materials-header {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 10rem;
  background-position: bottom; }
  #materials-header .dark-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10rem;
    background: rgba(0, 0, 0, 0.5); }

#materials .materials-preview {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }
  #materials .materials-preview .card-img-top {
    min-height: 14rem; }

#realizations-header {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 10rem;
  background-position: bottom;
  z-index: -1; }
  #realizations-header .dark-overlay {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10rem;
    background: rgba(0, 0, 0, 0.5); }

#realizations-listings .card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }
  #realizations-listings .card .card-img-top {
    height: 16rem; }

#search-form .home-search {
  background: rgba(255, 255, 255, 0.9);
  margin-top: -50px; }

#realization-info {
  min-height: 43rem; }
  #realization-info .img-thumbnail {
    width: 9rem;
    height: 7rem;
    object-fit: cover; }

#used-products .materials-preview {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }
  #used-products .materials-preview .card-img-top {
    min-height: 14rem; }

#calculate-header {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 10rem;
  background-position: bottom;
  z-index: -1; }
  #calculate-header .dark-overlay {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10rem;
    background: rgba(0, 0, 0, 0.5); }

#calculate-form .home-calculate {
  background: white;
  margin-top: -50px; }
  #calculate-form .home-calculate input::placeholder {
    color: #495057; }
  #calculate-form .home-calculate .form-control {
    text-align-last: center; }

#inquiryModal textarea {
  height: 10rem; }
#inquiryModal .legal {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #666;
  text-align: justify; }

#reminderModal {
  position: fixed;
  top: 25%; }    

@media (max-width: 768px) {
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; }   
    #realization-info .img-thumbnail {
        width: 24rem;
        height: 17rem;
        margin-top: 0.5rem;
        object-fit: cover; }
        
      #realization-info .card .fotos {
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        width: 24rem;
        height: 17rem;
        margin-top: 0.5rem;
        margin-left: 2rem;
        margin-bottom: -1rem;
        object-fit: cover;  }
    
    }
@media (max-width: 576px) {
  #home-section {
    background-position: top; }}
